* {
    box-sizing: border-box;
}

/* root */
:root {
    /* font */
    --font-main: 'Pretendard', sans-serif;
    --font-serif: 'Nanum Myeongjo', serif;

    /* color */
    --brand-g-1: #8ED4C5;
    --brand-g-2: #79C3B3;
    --brand-g-3: #488F83;
    --brand-g-4: #316A61;

    --brand-p-1: #F3B0B2;
    --brand-p-2: #F39194;
    --brand-p-3: #B97278;

    --dark-1: #2A2A2A;
    --dark-2: #4A4E57;
    --dark-3: #999BA1;
    --dark-4: #BBBBBB;

    --light-1: #FFFFFF;
    --light-2: #F2F2F5;
    --light-3: #CECECE;

    /* typography */
    --font-title: 4.75rem;

    /* shadow */
    --shadow: 0 0 0.625rem rgba(0, 0, 0, 0.3);


    /* layout */
    --container-width: 90rem;
    --container-lr-padding: 3.75rem;
    --container-tb-padding: 4.375rem;

    /* sticky 영역 */
    --benefit-sticky-height: min(100vh, 67.5rem);

}


/* base */
body {
    font-family: var(--font-main);
    color: var(--dark-1);
}

/* layout */
.container {
    width: 100%;
    max-width: var(--container-width);
    padding-left: var(--container-lr-padding);
    padding-right: var(--container-lr-padding);
    margin: 0 auto;
}

/* -------- */
/* 🔴 공통 🔴*/
.title-text {
    text-align: center;
    align-items: center;
    margin-bottom: 4.375rem;
}

.subtitle {
    font-family: var(--font-serif);
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    text-align: center;

}

.title {
    font-family: var(--font-main);
    font-weight: 500;
    font-size: 2.5rem;

    text-align: center;
}


/* -------------------- */

/* 각 섹션의 PC 스타일 */

/* 🟪❇️--- hero --- */
.hero {
    width: 100%;
    height: 67.5rem;
    background: url(../images/hero-bg.png) no-repeat center / cover;
    /* 나중에 위에 배경 올리거나 데코 올리기 대비해서 */
    position: relative;
    /* 영역 밖 요소 자르기 */
    overflow: hidden;
}

.hero-container {
    height: 100%;
    display: flex;
    /* 오른쪽 끝 배치 */
    justify-content: flex-end;
    /* 밑으로 */
    align-items: flex-end;
}

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: var(--light-1);
    text-align: right;
    margin-bottom: 13.75rem;
}

.hero-subtitle {
    margin-bottom: 0.625rem;
    font-family: var(--font-serif);
    font-weight: 600;
    font-size: 1.125rem;
    text-shadow: var(--shadow);

}

.hero-title {
    font-family: var(--font-serif);
    font-size: 4.75rem;
    font-weight: 700;
    text-shadow: var(--shadow);
}

.hero-buttons {
    display: flex;
    justify-content: flex-end;
    justify-content: center;
    gap: 0.875rem;

    margin-top: 1.625rem;

}

.hero-btn {
    /* 위치 */
    display: inline-flex;
    /* 버튼이 텍스트 길이만큼만 차지 */
    align-items: center;
    justify-content: center;

    /* 폰트 */
    font-family: var(--font-main);
    font-size: 1.25rem;

    /* 버튼 디자인 */
    padding: 0.75rem 2rem;
    border-radius: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
    gap: 0.625rem;

    /* 애니메이션 */
    transition: all 0.4s;
}

.hero-btn-outline {
    color: var(--light-1);
    border: 1.5px solid var(--light-1);
    background: rgba(255, 255, 255, 0.2);

    backdrop-filter: blur(16px) saturate(150%);
    -webkit-backdrop-filter: blur(16px) saturate(150%);
}

.hero-btn-outline::after {
    content: ">";
    width: 0.875rem;
    height: 1.5rem;
}


.hero-btn-inline {
    color: var(--dark-1);
    background-color: var(--light-1);
}

/* 🟪❇️--- difficulties --- */
.difficulties {
    width: 100%;

    background: linear-gradient(180deg, #F9FAFB 51.46%, #E0F3EF 68.77%, var(--brand-g-1) 100.03%) no-repeat center / cover;
}

.diff-text {
    height: fit-content;
}

.diff-container {
    height: 100%;
    position: relative;
    text-align: center;
    padding-top: var(--container-tb-padding);
    padding-bottom: var(--container-tb-padding);
}


.diff-subt {
    color: var(--brand-p-1);
}

.diff-title-br {
    display: none;
}

.bubbles {
    width: 100%;
    max-width: 56.5rem;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0 3.75rem;
    margin: 0 auto;
    box-sizing: border-box;
}

.bub1,
.bub2,
.bub3 {
    max-width: 100%;
    height: auto;
    display: block;
}

.bub1 {
    width: 35.8125rem;
}

.bub2 {
    width: 28.8125rem;
    align-self: flex-end;
}

.bub3 {
    width: 26.5rem;
    align-self: center;

}

.dot {
    width: 100%;
    font-family: var(--font-main);
    font-weight: 700;
    color: var(--light-1);
    font-size: 3.75rem;
    line-height: 3.125rem;
    text-shadow: var(--shadow);
    margin-bottom: 3.75rem;

}

.solution-text {
    font-family: var(--font-main);
    font-weight: 700;
    color: var(--light-1);
    font-size: 2.25rem;
    line-height: 160%;

}

.solution-text .emphasis {
    color: var(--brand-g-3);
}

/* 🟪❇️--- benefit --- */
.benefit {
    position: relative;
    height: calc(var(--benefit-sticky-height) * 5);
}

.benefit-desktop {
    display: block;
    height: 100%;
}

.benefit-mobile {
    display: none;
}

.benefit-container {
    width: 100%;
    height: calc(var(--benefit-sticky-height) - 9.0625rem);
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding-bottom: var(--container-tb-padding); */
}

.top-bg {
    width: 100%;
    height: 9.0625rem;
    background: url(../images/bg_shape.png) no-repeat center / cover;
}

.benefit-sticky {
    position: sticky;
    top: 0;
    height: var(--benefit-sticky-height);
    overflow: hidden;
}

.benefit-slider {
    position: relative;
    width: 100%;
    height: 100%;
}


.benefit-content {
    position: absolute;
    inset: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: clamp(3.75rem, 5vw, 6.25rem);

    opacity: 0;
    transform: translateY(5rem);
    transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out;
}

.benefit-content.reverse {
    display: flex;
    flex-direction: row-reverse;
}

.benefit-second .num {
    background-color: var(--brand-g-3);
}

.benefit-second .emphasis {
    color: var(--brand-g-3);
}

.benefit-content.is-active {
    opacity: 1;
    transform: translateY(0);

}


.benefit-img {
    width: clamp(21.25rem, 34.7222vw, 39.451875rem);
    max-width: 31.5rem;
    height: auto;
}

.benefit-texts {
    /* width: 55%; */
    height: auto;
}

.num {
    font-family: var(--font-main);
    font-size: 2rem;
    font-weight: 700;

    width: 3.625rem;
    height: 3.625rem;
    border-radius: 100px;
    background-color: var(--brand-p-2);
    color: var(--light-1);

    display: inline-flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 1.25rem;
}

.benefit-title {
    font-family: var(--font-main);
    font-size: 2.625rem;
    font-weight: 700;
    line-height: 160%;
    color: var(--dark-1);
}

.emphasis {
    color: var(--brand-p-2);
}

/* 🟪❇️--- Monthly-Flower --- */

.Monthly-Flower {
    width: 100%;
    padding: 4.375rem 0;
}

.mf-content {
    height: 100%;
}

.mf-text {
    margin-bottom: 2.5rem;
}

.mf-subt {
    color: var(--dark-3);
    text-align: left;
}

.mf-title {
    text-align: left;
}

/* Swiper 전체 영역 */
.mySwiper {
    width: 100%;
    height: clamp(25rem, 41.6667vw, 40rem);
    position: relative;
    overflow: hidden;
}

/* 각각의 슬라이드 */
.mf-img-sec {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;

    background:
        linear-gradient(to right,
            rgba(255, 255, 255, 0.8) 0%,
            rgba(255, 255, 255, 0.6) 40%,
            rgba(255, 255, 255, 0) 100%),
        var(--mf-bg) no-repeat center / cover;
}

/* 카드별 배경 이미지 */
.mf01 {
    --mf-bg: url("../images/mf-bg1.png");
    height: clamp(25rem, 58.5938vw, 40rem);
}

.mf02 {
    --mf-bg: url("../images/mf-bg2.png");
    height: clamp(25rem, 58.5938vw, 40rem);
}

.mf03 {
    --mf-bg: url("../images/mf-bg3.png");
    height: clamp(25rem, 58.5938vw, 40rem);
}

.mf04 {
    --mf-bg: url("../images/mf-bg4.png");
    height: clamp(25rem, 58.5938vw, 40rem);
}

.mf05 {
    --mf-bg: url("../images/mf-bg5.png");
    height: clamp(25rem, 58.5938vw, 40rem);
}

/* 슬라이드 안쪽 내용 영역 */
/* 기존 .container와 같은 기준으로 맞춤 */
.mf-img-content {
    width: 100%;
    max-width: var(--container-width);
    height: 100%;

    margin: 0 auto;
    padding-left: var(--container-lr-padding);
    padding-right: var(--container-lr-padding);

    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* 텍스트 묶음 */
.mf-text-group {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.mf-img-title {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.eng-flower-name {
    font-family: var(--font-serif);
    font-size: 2.625rem;
    font-weight: 600;
    font-style: italic;
    color: #F7CED2;
}

.kor-flower-name {
    font-family: var(--font-serif);
    font-size: 4.375rem;
    font-weight: 400;
    color: var(--dark-2);
}

.flower-tag {
    font-family: var(--font-main);
    font-size: 1.125rem;
    font-weight: 500;
    color: #B97278;

    display: flex;
    gap: 1.25rem;
    flex-wrap: wrap;
}

.tag-name {
    width: fit-content;
    height: 2.25rem;
    padding: 0 1.25rem;
    border-radius: 999px;
    background-color: #F7CED2;

    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.flower-description {
    font-family: var(--font-main);
    font-size: 1rem;
    font-weight: 300;
    line-height: 130%;
    color: var(--dark-3);
}

.mo-br {
    display: none;
}

/* 카드별 포인트 컬러 */

/* 2 */
.mf02 .eng-flower-name,
.mf02 .flower-tag {
    color: #5F86A7;
}

.mf02 .tag-name {
    background-color: #D0E3F2;
}

/* 3 */
.mf03 .eng-flower-name,
.mf03 .flower-tag {
    color: #E67C34;
}

.mf03 .tag-name {
    background-color: #F9D1A4;
}

/* 4 */
.mf04 .eng-flower-name,
.mf04 .flower-tag {
    color: #4051A2;
}

.mf04 .tag-name {
    background-color: #D0E3F2;
}

/* 5 */
.mf05 .eng-flower-name,
.mf05 .flower-tag {
    color: #9077A1;
}

.mf05 .tag-name {
    background-color: #D8CBDC;
}

/* Swiper pagination */
.mySwiper .swiper-pagination {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 1.25rem;
    z-index: 10;

    display: flex;
    justify-content: center;
    gap: 1rem;
}

.mySwiper .swiper-pagination-bullet {
    width: 0.75rem;
    height: 0.75rem;
    margin: 0 !important;

    opacity: 1;
    border-radius: 999px;
    background-color: var(--dark-4);
}

.mySwiper .swiper-pagination-bullet-active {
    background-color: var(--dark-1);
}

/* 🟪❇️--- plan --- */
/* 타이틀 */
.plan-container {
    padding-bottom: 4.375rem;
}

.plan-subt {
    color: var(--brand-p-3);
}

/* 플랜들 */
.plan-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;

    width: 100%;
    grid-auto-rows: 17.90625rem;
}

.standard-cont {
    grid-row: span 2;
}


.plans {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 1.25rem;
    padding: 3.125rem 3.125rem;

    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.08);
}

.standard-bottom {
    display: flex;
    flex-direction: column;
    gap: 3.125rem;
}

.plan-bottom {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.plan-bottom-title {
    display: flex;
    flex-direction: column;
    gap: 0.875rem;
}

.standard-top {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;

}

.sub-btn {
    width: 100%;
    height: 3.75rem;
    text-align: center;
    border: none;
    border-radius: 0.875rem;
    background-color: var(--brand-p-2);

    color: var(--light-1);
    font-size: 1.5rem;
    fon t-weight: 500;

    transition: all 0.3s;
}

.sub-btn:hover {
    background-color: #e26f73;
}

/* 플랜 텍스트 정렬 및 설정 */
.recommand {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5.375rem;
    height: 2.25rem;
    border: 1px solid var(--brand-p-2);
    border-radius: 0.875rem;
}

.recommand p {
    font-size: 1rem;
    font-weight: 700;
    color: var(--brand-p-2);

}

.plan-name-title {
    font-weight: 700;
    font-size: 2.25rem;
    color: var(--dark-2);
}

.standard-cont .plan-title {
    font-size: 3rem;
}

.fee-sale {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--brand-p-2);
}

.fee-origin {
    font-size: 0.875rem;
    font-weight: 400;
    color: var(--light-3);
    text-decoration: line-through;
}

.flower-num {
    font-size: 1rem;
    font-weight: 400;
    color: var(--dark-2);
}

.fee {
    display: flex;
    gap: 0.5rem;
}

.flower-num-text {
    display: inline-flex;
    align-items: center;
}

.flower-num-text::before {
    content: "";
    width: 1.5rem;
    height: 1.5rem;
    background: url("../icons/flower-icon.png") no-repeat center / contain;
}



/* 세부적인 달라지는 애들 */

.bouquet {
    width: 6.4375rem;
    height: 13.875rem;
    background: url("../icons/Bouquet-icon.png") no-repeat center / contain;
    padding-bottom: 1.875rem;
}

.share {
    width: 3.5rem;
    height: 3.5rem;
    background: url("../icons/share-icon.png") no-repeat center / contain;
    transition: transform 0.5 ease;
}

.share:hover {
    transform: translateY(-0.2rem);
}


/* 🟪❇️--- review --- */
.review {
    background: url(../images/review-bg.png) no-repeat center / cover;
    width: 100%;
    height: 60.5625rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rev-text {
    margin-bottom: 2.5rem;
}

.rev-count-wrap {
    display: flex;
    align-items: flex-end;
    font-size: 3.75rem;
    font-weight: 700;
    gap: 0.625rem;
}

.rev-count-wrap+p {
    font-size: 1.125rem;
    color: var(--dark-4);
}

.logo-text {
    font-family: serif;
    font-weight: 800;
}

.rev-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.review-count {
    font-size: 6.25rem;
    font-weight: 700;
    display: inline-block;
    /* min-width: 5ch; */
}

.rev-count-wrap {
    margin-bottom: 1.5rem;
}

.review-card {
    display: flex;
    width: 32.5rem;
    height: 19rem;

    background-color: var(--light-1);
    border: 0.125rem solid var(--light-2);
    border-radius: 1.25rem;
    padding: 1.5rem 1.5rem;

    gap: 1.5rem;
}

.rev-img {
    width: 100%;
    height: 100%
}

.rev01 {
    background: url(../images/review-img1.png) no-repeat center / cover;
}

.rev02 {
    background: url(../images/review-img2.png) no-repeat center / cover;
}

.rev03 {
    background: url(../images/review-img3.png) no-repeat center / cover;
}

.rev04 {
    background: url(../images/review-img4.png) no-repeat center / cover;
}

.rev-text-cont {
    width: 100%;
    height: 100%;
    padding-top: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    color: var(--dark-1);
    font-size: 1rem;
    font-weight: 400;
    line-height: 140%;
}

.rev-top-cont {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.rev-bottom-cont {
    display: flex;
    justify-content: space-between;

    font-size: 0.75rem;
    color: var(--dark-2);
}

.rev-mark {
    background-color: var(--light-2);
    border-radius: 0.25rem;
    width: 3.5625rem;
    height: 1.25rem;
    text-align: center;
}

/* 스와이퍼 */

.reviewSwiper {
    width: 100%;
    padding: 1rem 0 3rem;
    overflow: visible;
}

.reviewSwiper .swiper-wrapper {
    transition-timing-function: linear;
}

.reviewSwiper .swiper-slide {
    width: 32.5rem;
    flex-shrink: 0;
}

.reviewSwiper .swiper-scrollbar {
    display: none;
}

/* 🟪❇️--- shipping --- */


.ship-text {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.ship-subt {
    color: var(--brand-g-3);
}

.ship-cards {
    width: 100%;
    height: 16.125rem;
    display: flex;
    gap: 1.5rem;
}

.ship-card {
    width: 100%;
    height: 100%;
    max-width: 19.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;

    gap: 1.25rem;
    padding: 1.875rem 1.25rem;
    border-radius: 1.25rem;

    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
}


.ship-icon {
    width: 3.625rem;
    height: 3.625rem;
}

.ship-icon1 {
    background: url(../icons/shipping-icon1.png) no-repeat center / cover;
}

.ship-icon2 {
    background: url(../icons/shipping-icon2.png) no-repeat center / cover;
}

.ship-icon3 {
    background: url(../icons/shipping-icon3.png) no-repeat center / cover;
}

.ship-icon4 {
    background: url(../icons/shipping-icon4.png) no-repeat center / cover;
}


.ship-card-text-cont {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.ship-card-title {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 130%;
}

.ship-card-text {
    color: var(--dark-2);
    font-weight: 300;
    font-size: 1.125;
    line-height: 130%;
}

.ship-card-text strong {
    color: var(--brand-g-3);
    font-weight: 400;
}



/* 끝 🌸 animation 🌸 */
@media (hover: hover) {
    .hero-btn-outline:hover {
        color: var(--light-1);
        background: var(--dark-1);
        border-color: var(--dark-1);
    }

    .hero-btn-inline:hover {
        color: var(--light-1);
        background-color: var(--brand-p-2);
    }
}

/* ==========반응형========== */

@media (max-width: 1024px) {
    /* ---- 🔴공통 ---- */

    .container {
        max-width: 64rem;
        padding-left: 3.125rem;
        padding-right: 3.125rem;
    }

    .title-text {
        margin-bottom: 2.5rem;
    }

    .hero {
        height: 50rem;
    }


    .hero-text {
        margin-bottom: 12.5rem;
    }

    .hero-title {
        font-size: 2.5rem;
        line-height: 1.2;
    }

    .hero-subtitle {
        display: none;
    }

    .hero-buttons {
        margin-top: 1.25rem;
    }

    .hero-btn {
        font-size: 1rem;
        padding: 0.38rem 1.2rem;
    }


    .subtitle {
        font-size: 1rem;
    }

    .title {
        font-size: 1.5rem;
    }

    /* ---- 🔴difficult ---- */

    .mf-text {
        margin-bottom: 1.25rem;
    }

    .bubbles {
        max-width: 48rem;
    }

    .bub1 {
        width: 27.25rem;
    }

    .bub2 {
        width: 24.875rem;
    }

    .bub3 {
        width: 21.8125rem;

    }

    .dot {
        font-size: 2.5rem;
        line-height: 2.5rem;
        margin-bottom: 1.25rem;

    }

    .solution-text {
        font-size: 1.625rem;
        line-height: 160%;
    }

    /* ---- 🔴benefit ---- */
    .benefit-title {
        font-size: 1.625rem;
    }

    .num {
        font-size: 1.375rem;

        width: 2.25rem;
        height: 2.25rem;

        margin-bottom: 0.75rem;
    }

    /* ---- 🔴Monthly Flower section ---- */

    /* 텍스트 묶음 */
    .mf-text-group {
        gap: 1rem;
    }

    .mf-img-title {
        gap: 0.625rem;
    }

    .eng-flower-name {
        font-size: 1.5rem;
    }

    .kor-flower-name {
        font-size: 2.875rem;
    }

    .flower-tag {
        font-size: 1rem;
        gap: 1rem;
    }

    .tag-name {
        height: 2rem;
        padding: 0 1rem;
    }

    /* ---- 🔴subscription ---- */
    .plan-container {
        padding-bottom: 2.5rem;
    }


    /* 플랜들 */
    .plan-content {
        grid-template-columns: repeat(1, 1fr);

    }


    
/* 🔴--- shipping --- */


.ship-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.ship-card {
    width: 100%;
    gap: 1rem;
    /* padding: 1.875rem 1.25rem; */
}

.ship-card-text-cont {
    gap: 1rem;
}

.ship-card-title {
    font-size: 1.25rem;
}

.ship-card-text {
    font-size: 1rem;
}

}

/* 🧱🧱🧱🧱🧱🧱🧱🧱🧱🧱🧱🧱 */

@media (max-width: 768px) and (min-width: 360px) {
    /* ---- 🟪공통 ---- */

    .container {
        max-width: 48rem;
        padding-left: clamp(1.25rem, 5.2083vw, 2.5rem);
        padding-right: clamp(1.25rem, 5.2083vw, 2.5rem);
    }

    .title-text {
        margin-bottom: 2.5rem;
    }

    .subtitle {
        font-size: 1rem;
    }

    .title {
        font-size: 1.5rem;
    }

    /* ---- 🟪hero ---- */

    .hero {
        height: 39.875rem;
    }


    .hero-text {
        margin-bottom: 7.25rem;
    }

    .hero-title {
        font-size: 2.25rem;
        line-height: 1.2;
    }

    .hero-buttons {
        gap: 0.625rem;
        margin-top: 0.625rem;
    }

    .hero-btn {
        font-size: 0.875rem;
    }

    /* ---- 🟪diffuculties ---- */

    .diff-title-br {
        display: inline;
    }

    .mf-text {
        margin-bottom: 1.25rem;
    }

    .bubbles {
        padding: 0 0;
        max-width: 22.5rem;
    }

    .bub1 {
        width: 25.625rem;
    }

    .bub2 {
        width: 20.25rem;
    }

    .bub3 {
        width: 20.5625rem;

    }

    .dot {
        font-size: 2rem;
        line-height: 1.875rem;
    }

    .solution-text {
        font-size: 1.25rem;
        line-height: 160%;
    }

    /* ---- 🟪benefit ---- */
    .benefit {
        height: auto;
    }

    .benefit-desktop {
        display: none;
    }

    .benefit-mobile {
        display: block;
    }

    .benefit-mobile-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
    }

    .benefit-card {
        width: 100%;
        max-width: 28.5rem;
        height: 14.625rem;
        box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
        padding: 1.875rem 1.5625rem;
        gap: 0.625rem;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .num {
        display: inline-flex;
        width: fit-content;
        height: 1.25rem;
        font-size: 0.75rem;
        font-weight: 500;
        padding: 0 0.4375rem;
        border-radius: 1.25rem;
    }

    .benefit-mobile-title {
        font-size: 1.125rem;
        font-weight: 700;
        line-height: 130%;
    }

    .benefit-mobile-img {
        height: auto;
    }

    .card1 .benefit-mobile-img {
        width: 7.5rem;
        transform: scaleX(-1);
    }

    .card2 .benefit-mobile-img {
        width: 6.020625rem;
    }

    .card3 .benefit-mobile-img {
        width: 7.43755rem;
    }

    .card2 .num {
        background-color: var(--brand-g-3);
    }

    .card2 .emphasis {
        color: var(--brand-g-3);
    }

    /* ---- 🟪Monthly Flower Section ---- */
    .mf-img-content {
        padding: 0 1.25rem;
    }

    /* 텍스트 그룹 */
    .mf-text-group {
        gap: 0.75rem;
    }

    .mf-img-title {
        gap: 0.625rem;
    }

    .eng-flower-name {
        font-size: 1.5rem;
    }

    .kor-flower-name {
        font-size: 2.5rem;
    }

    .flower-tag {
        font-size: 0.75rem;
        gap: 0.5rem;
    }

    .tag-name {
        height: 1.5rem;
        padding: 0 0.375rem;
    }

    .flower-description {
        background-color: rgba(255, 255, 255, 0.5);
        padding: 0.25rem 0.25rem;
    }

    .mo-br {
        display: block;
    }

    .mo-br-no {
        display: none;
    }

    /* ---- 🟪subscription ---- */

    .plan-container {
        padding-bottom: 2.5rem;
    }

    /* 🟪--- review --- */

    .review {
        height: 32.8125rem;
    }

    .rev-text {
        margin-bottom: 0.875rem;
    }

    .rev-count-wrap {
        font-size: 1.875rem;
    }

    .rev-count-wrap+p {
        font-size: 0.875rem;
    }

    .rev-text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .review-count {
        font-size: 3.75rem;
        font-weight: 700;
        display: inline-block;
        /* min-width: 5ch; */
    }

    .rev-count-wrap {
        margin-bottom: 1.5rem;
    }

    .reviewSwiper .review-card {
    display: flex;
    flex-direction: column;
    width: 11.75rem;
    
    border-radius: 1.25rem;
    padding: 0.75rem 0.75rem;

    gap: 0.75rem;
    }


    .rev-img {
        height: 100%;
    }


    .rev-text-cont {
        padding-top: 0.75rem;
        font-size: 0.875rem;
    }

    .rev-top-cont {
        height: 100%;
        gap: 0.5rem;
    }

    .rev-bottom-cont {
        display: flex;
        justify-content: space-between;

        font-size: 0.75rem;
        color: var(--dark-2);
    }

    .rev-mark {
        background-color: var(--light-2);
        border-radius: 0.25rem;
        width: 3.5625rem;
        height: 1.25rem;
        text-align: center;
    }

/* 🟪--- shipping --- */


.ship-cards {
    display: grid;
    grid-template-columns:  1fr 1fr;
    gap: 0.625rem;
}

.ship-card {
    gap: 1rem;
    /* padding: 1.875rem 1.25rem; */
}

.ship-card-text-cont {
    gap: 1rem;
}

.ship-card-title {
    font-size: 1.125rem;
}

.ship-card-text {
    font-size: 0.875rem;
}

}



/* 🌸 scroll animation */
/* benefit 섹션임 */
/* 🌸 scroll animation */
.scroll-up {
    opacity: 0;
    transform: translateY(3rem);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.scroll-up.is-show {
    opacity: 1;
    transform: translateY(0);
}

.delay-1 {
    transition-delay: 0.2s;
}

.delay-2 {
    transition-delay: 0.3s;
}

.delay-3 {
    transition-delay: 0.4s;
}

.delay-4 {
    transition-delay: 0.8s;
}

/* 🌸 text-focus-in animation */
.text-focus-in {
    opacity: 0;
    filter: blur(12px);
}

.text-focus-in.is-show {
    animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@keyframes text-focus-in {
    0% {
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        filter: blur(0px);
        opacity: 1;
    }
}